html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(rgb(48, 1, 1), black);
    background-repeat: no-repeat;

}


header{
    width: 100%;
    display: inline;

}


.box-style{
    border-style: solid;
    border-color: rgb(166, 255, 0);
    border-width: 1px;
    width: auto;
    height: auto;
}
body{
    display: flex;
   flex-direction: column;
   margin: 0px;
}

.titulo{
    display: flex;
    width: 100%;
    justify-content: center;
}

.banner-style{
    display: flex;
    flex-direction: colum;
    justify-content: center;
    margin: 5px;
}

.box1, .box2, .box3{
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(246, 250, 1);
    border-radius:15px ;
    overflow: hidden;

}

#banner-borda{
    transition: all 0.5s;
    cursor: pointer;
}

#banner-borda:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}






